.App {
  text-align: center;
  /* background-color: #151f27; */
  background-color: #1a1d1c;
  width: 100%;
}

/* TOPBAR */
.top-bar {
  width: 99%;
  height: 20%;
  /* margin-top: -10px;
  margin-bottom: -10px; */
  display: flex;
  justify-content: space-between;
}

.title {
  width: 184px;
  background: #1a1d1c;
  display: flex;
  align-items: start;
  /* padding-left: 20px; */
}

.title a {
  color: white;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-self: center;
  width: 184px;
}

.search-bar input {
  height: 25px;
  display: flex;
  align-self: center;
}

.profile-options {
  width: 184px;
}

.profile-options a {
  color: white;
  text-decoration: none;
}

/* MAIN CONTAINER */
.main {
  width: 99%;
  height: 1275px;
  display: flex;
}

.clientPage {
  width: 100%;
}

/* NAV/SIDEBAR */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100%;
  color: white;
  background-color: #252927;
  font-size: 14px;
  border-style: solid;
  border-right: none;
  border-width: 1px;
  border-color: lightgrey;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding-top: 50px;
  font-size: 20px;
}

.servers {
  display: flex;
  max-width: 90%;
  max-height: 90%;
  justify-content: space-between;
  flex-direction: column;
}

.server-form {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
}


/* THREADBOX */
.thread-box {
  width: 90%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.thread-header {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #028050;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.thread-body {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  overflow-y: auto;
  /* padding-left: 20px; */
  background-color: white;
}

/* .chat-box {
  width: 99%;
  height: 80%;
  overflow-y: auto;
  display: flex;
  align-items: center; 
  flex-direction: column-reverse;
} */

.thread-input {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #252927;
}

.thread-input input {
  width: 1000px;
  height: 30px;
  border-style: none;
  background-color:#3f4346;
  color: white;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: -10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  font-size: 16px;
}

.thread-input input:focus {
  outline: none;
}

.thread-input button {
  height: 26px;
  border-radius: 3px;
  border-style: none;
  background-color:#a0a4a7;
  color: white;
}

.thread {
  width: 100%;
  height: 80px;
}

.thread-container {
  display: flex;
  width: 99%;
  height: 90%;
  flex-wrap: wrap;
}

.thread-info {
  display: flex;
  width: 500px;
  height: 25px;
  margin-left: -10px;
}

.thread-from {
  width: 50%;
  color: #89d855; 
  font-weight: bold;
}

.thread-date {
  width: 50%;
  height: 25px;
  margin-top: 2px;
  display: flex;
  align-self: flex-start;
  color: grey; 
  font-size: 14px;
}

.thread-text {
  width: 99%;
  height: 25px;
  margin-top: -20px;
  margin-left: 10px;
  display: flex;
  align-self: flex-start;
  font-size: 15px;
  font-weight: bold;
  color: #028050;
}


/* USER LIST */
.user-container {
  width: 250px;
  color: white;
  background-color: #252927;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

/* .publicLanding {
  background-color: red;
  width: 150px;
  height: 300px;
  display: flex;
} */