/* * { 
  margin: 0; 
  padding: 0; 
} */

.App {
  text-align: center;
  background-color: #1a1d1c;
}

/* TOPBAR */
.top-bar {
  /* width: 100%; */
  height: 20%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.title {
  width: 250px;
  background: #1a1d1c;
  border-right: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.title a {
  color: white;
  text-decoration: none;
}

.search-bar {
  align-self: center;
  width: 250px;
}

.search-bar input {
  width: 250px;
  height: 25px;
  display: flex;
  align-self: center;
  border-style: none;
  background-color:#313335;
  color: white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(51, 51, 51);
  font-size: 16px;
  padding: 5px 5px 5px 5px;
}

.search-bar input:focus {
  outline: none;
}

.profile-options {
  width: 257px;
  border-left: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.profile-options a {
  color: white;
  text-decoration: none;
}

/* MAIN CONTAINER */
.main {
  height: 1275px;
  display: flex;
}

.main-box {
  display: flex;
}

.client-page {
  width: 100%;
}

/* NAV/SIDEBAR */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100%;
  color: white;
  background-color: #252927;
  font-size: 14px;
  border-right: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding-top: 50px;
  font-size: 20px;
}

.servers {
  display: flex;
  max-width: 90%;
  max-height: 90%;
  justify-content: space-between;
  flex-direction: column;
}

.server-form {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}


/* THREADBOX */
.thread-box {
  width: 2051px;
  height: 100%;
}


/* THREAD HEADER */
.thread-header {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #028050;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* THREAD BODY */
.thread-body {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  overflow-y: auto;
  background-color: white;
  border-top: solid;
  border-width: 1px;
}

.thread-body::-webkit-scrollbar {
  width: .5em;
}

.thread-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
}
 
.thread-body::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  outline: 2px solid darkgrey;
}


/* THREAD INPUT */
.thread-input {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #252927;
}

.thread-input input {
  width: 1940px;
  height: 30px;
  border-style: none;
  background-color:#313335;
  color: white;
  border-radius: 3px;
  margin-right: 15px;
  margin-left: -10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(51, 51, 51);
  font-size: 16px;
  padding: 5px;
}

.thread-input input:focus {
  outline: none;
}

.thread-input button {
  height: 26px;
  border-radius: 3px;
  border-style: none;
  background-color:#a0a4a7;
  color: white;
}


/* THREADBOX CONTENT */
.thread {
  width: 100%;
  height: 80px;
}

.thread-container {
  display: flex;
  width: 100%;
  height: 90%;
  flex-wrap: wrap;
}

.thread-container:hover {
  background: rgb(240, 240, 240);
}

.thread-info {
  display: flex;
  width: 500px;
  height: 25px;
  margin-left: -10px;
}

.thread-from {
  width: 50%;
  color: #89d855; 
  font-weight: bold;
}

.thread-date {
  width: 50%;
  height: 25px;
  margin-top: 4px;
  display: flex;
  align-self: flex-start;
  color: grey; 
  font-size: 12px;
}

.thread-text {
  width: 99%;
  height: 25px;
  margin-top: -20px;
  margin-left: 10px;
  display: flex;
  align-self: flex-start;
  font-size: 15px;
  font-weight: bold;
  color: #028050;
}


/* USER LIST */
.user-container {
  width: 250px;
  height: 100%;
  background-color: #252927;
  border-left: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.users-header {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #028050;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.users-list {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
  color: black;
  font-weight: bold;
  background-color: white;
  border-top: solid;
  border-width: 1px;
}

.users-footer {
  width: 99%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: #252927;
}

.users-footer button {
  height: 26px;
  border-radius: 3px;
  border-style: none;
  background-color:#a0a4a7;
  color: white;
}

/* LANDING PAGE */
.public-landing {
  background-color: #1a1d1c;
  width: 2543px;
  height: 1367px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
}

.login-container {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 12px;
  border-style: solid;
  border-color: grey;
  border-width: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.public-landing h1 {
  width: 300px;
  height: 100px;
  background-color: #252927;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0px;
  /* margin-bottom: -100px; */
}

.public-landing img {
  width: 300px;
}
.public-landing button {
  width: 120px;
  margin-bottom: 50px;
}

.welcome {
  width: 2051px;
  height: 100%;
  border-right: solid;
  border-width: 1px;
  color: white;
  border-color: lightgrey;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.welcome h1 {
  margin-top: 300px;
}
.welcome img {
  width: 400px;
  margin-bottom: 500px;
  margin-left: 30px;
}

.profile {
  width: 2051px;
  height: 100%;
  border-right: solid;
  border-width: 1px;
  color: white;
  border-color: lightgrey;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  width: 350px;
  height: 200px;
  color: black;
  background-color: white;
  border-radius: 12px;
  border-style: solid;
  border-color: grey;
  border-width: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.profile h3 {
  margin-top: 100px;
  margin-bottom: -10px;
}

.profile button {
  width: 75px;
  margin-bottom: 100px;
}



